* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    
    
}

#calculator {
    height: 770px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
#display {
    width: 480px;
    height: 170px;
    background-color: rgb(211, 219, 218);
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border: solid;
    border-width: 2px;
    border-color: blue;
    padding-right: 15px;
    
}

#big-screen {
    width: 450px;
    height: 90px;
    margin-bottom: 0px;
    border: solid;
    border-width: 2px;
    border-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
}

#small-screen {
    width: 200px;
    height: 50px;
    border: solid;
    border-width: 2px;
    border-color: green;
}

button {
    font-size: 35px;
}

#buttons-container {
    display: flex;
    flex-direction: column-reverse;
    height: 600px;
    width: 480px;
    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-button {
    height: 120px;
    width: 120px;
}

.operation-button {
    height: 120px;
    width: 120px;
}

.big-button {
    height: 120px;
    width: 240px;
}
